html {
  font-size: 62.5%;
}

body {
  margin: 0;
  /* background-color: #a189fd; */
  background-image: linear-gradient(to bottom right, #7f04cd, #f2efff);
  font-size: 2.3rem;
  font-family: "Inter", sans-serif;
}
.wrapper {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 25.009rem;
  height: 40.081rem;
  background-color: #643ef2ad;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.743rem;
  padding: 1.96rem 2.124rem 2.124rem 2.124rem;
  border: solid 0.6rem black;
}

.display {
  width: 24.958rem;
  height: 7.406rem;
  background-color: #d9d9d9;
  border-radius: 0.95rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 3.2rem;
}

.top-buttons-container {
  display: flex;
  gap: 1.614rem;
}

.top-button {
  width: 11.672rem;
  height: 4.792rem;
  border-radius: 0.95rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  background-color: #ffd828;
}

.backspace {
  background-color: #f39c6b;
}

img.backspace-img {
  width: 2.299rem;

  filter: invert(99%) sepia(2%) saturate(163%) hue-rotate(149deg) brightness(117%)
    contrast(100%);
}

.calc-button-container {
  display: flex;
  gap: 1.667rem;
}

.calc-button {
  width: 5.002rem;
  height: 4.792rem;
  background-color: #f2efff;
  border-radius: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-button:hover,
.top-button:hover {
  transform: scale(1.1, 1.1);
}

.operand {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
}

h3 {
  font-size: 3.2rem;
  font-weight: bold;
  margin: 0rem;
  font-family: "Inter", sans-serif;
}

.astonished-face {
  margin: 0.971rem;
}

.overflow-error {
  font-size: 2.5rem;
  margin: 0rem 0.901rem 0.2rem 0.901rem;
}
